.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/vcs.xml
/.intellijPlatform/self-update.lock
/.run/Run IDE with Plugin.run.xml
/.intellijPlatform/localPlatformArtifacts/IC-242.26775.15/bundledPlugin-com.intellij.java-IC-242.26775.15.xml
/jflex-1.9.2.jar
/idea-flex.skeleton
/fix-git.sh
